.active {
    color: red
}

body {
    background-color: black !important;
}

.form_bg {
    background-color: white;
    border-radius: 16px;
}

.field label {
    font-size: 18px;
}

.field input {
    border-radius: 6px;
    border: 1px solid black;
}

input:focus {
    border-radius: 6px;
    border: 1px solid blue !important;
}

input:focus::placeholder {
    color: blue !important;
}

input:focus-visible {
    border-radius: 6px;
    /* border: 1px solid transparent !important; */
    outline: none;
}

.submit_btn {
    border-radius: 6px;
    border: none !important;
}